body {
  font-family: Arial, sans-serif;
  text-align: center;
}



#joke-btn {
  background-color:#009f6b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

